/* font.css */
@font-face {
  font-family: 'Yekan Bakh';
  src: url('./Assets/Fonts/Yekan.woff') format('woff');
}

body{
  /* width: 90rem;
  height: 64rem; */
  flex-shrink: 0;
  /* background: var(--gradient-1, linear-gradient(68deg, #EEF6FF 0%, #fff 100%)); */
  background:linear-gradient(90deg, #EEF6FF 75%, #fff 50%, #fff 100%);
  /* background: var(--background, #EEF6FF); */
  direction: rtl;
}

.Logo-img {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Move content to the right */
  position: relative;
  margin: 2rem 2rem 0 0;
}

.icon-logo {
  width: 2.6875rem;
  height: 2.6875rem;
  flex-shrink: 0;
  
}

.text-logo {
  display: flex; 
  align-items: center;
  position: relative;
  text-align: right;
  font-family: Yekan Bakh;
  font-size: 2rem;
  font-style: normal;
  font-weight: 900;
  line-height: 133.5%; /* 2.67rem */
  background: var(--gradient-1, linear-gradient(68deg, #0066E2 32.63%, #1D82FF 70.87%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 1rem;
}

.user-container {
  display: flex;
  align-items: center;
  margin: 7rem 2rem 0 0;
}

.image-user{
  display: flex;
  align-items: center;
  justify-content: center; /* Move content to the right */
  position: relative;
  /* margin: 7rem 2rem 0 0; */
  border-radius: 1.125rem;
  background: var(--non-selected-blue-all, #DFEEFF);
  width: 6.75rem;
  height: 6.75rem;
  flex-shrink: 0;
}

.userimg{
  display: flex;
  width: 3.875rem;
  height: 3.875rem;
  padding: 0.20181rem 0.23288rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.textuser{
  color: var(--black, #121212);
  text-align: right;

  /* title bold 24 px */
  font-family: Yekan Bakh;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 900;
  line-height: 133.5%; /* 2.0025rem */
  margin: .5rem 3rem 0 0;
}

.secondtext{
  color: var(--black, #121212);
  text-align: right;

  /* regular 16 px */
  font-family: Yekan Bakh;
  font-size: .90rem;
  font-style: normal;
  font-weight: 400;
  line-height: 133.5%; /* 1.335rem */
  margin: 0 3rem 0 0;
}


.rectangles {
  display: flex;
  flex-direction: column; /* Arrange the rectangles vertically */
}

.rectangle {
  width: 0.625rem;
  height: 1.875rem;
  flex-shrink: 0;
  border-radius: 0.3125rem;
  margin: 0 1rem 0.5rem 0; /* Adjust the margin to separate the rectangles */
}



