/* font.css */
@font-face {
  font-family: 'Yekan Bakh';
  src: url('./Assets/Fonts/Yekan.woff') format('woff');
}



body{
  width: 90rem;
  height: 64rem;
  flex-shrink: 0;
  background:linear-gradient(90deg, #EEF6FF 80%, #fff 50%);
  direction: rtl;
}

.Logo-img {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Move content to the right */
  position: relative;
  margin: 2rem 2rem 0 0;
}

.icon-logo {
  width: 2.58rem;
  height: 2.58rem;
  flex-shrink: 0;
  
}

.text-logo {
  display: flex; 
  align-items: center;
  position: relative;
  text-align: right;
  font-family: Yekan Bakh;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 133.5%; /* 2.67rem */
  background: var(--gradient-1, linear-gradient(68deg, #0066E2 32.63%, #1D82FF 70.87%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 1rem;
}

.user-container {
  display: flex;
  align-items: center;
  margin: 6rem 2rem 0 0;
}

.image-user{
  display: flex;
  align-items: center;
  justify-content: center; /* Move content to the right */
  position: relative;
  /* margin: 7rem 2rem 0 0; */
  border-radius: 1.125rem;
  background: var(--non-selected-blue-all, #DFEEFF);
  width: 6rem;
  height: 6rem;
  flex-shrink: 0;
}

.userimg{
  display: flex;
  width: 3.875rem;
  height: 3.875rem;
  padding: 0.20181rem 0.23288rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.textuser{
  color: var(--black, #121212);
  text-align: right;
  /* title bold 24 px */
  font-family: Yekan Bakh;
  font-size: 1.10rem;
  font-style: normal;
  font-weight: 900;
  line-height: 133.5%; /* 2.0025rem */
  margin: .2rem 2rem 0 0;
}

.secondtext{
  color: var(--black, #121212);
  text-align: right;

  /* regular 16 px */
  font-family: Yekan Bakh;
  font-size: .90rem;
  font-style: normal;
  font-weight: 400;
  line-height: 133.5%; /* 1.335rem */
  margin: 0 2rem 0 0;
}


.rectangles {
  display: flex;
  flex-direction: column; 
  
}

.rectangle {
  width: 0.50rem;
  height: 1.6rem;
  flex-shrink: 0;
  border-radius: 0.3125rem;
  margin: 0 1rem 0.3rem 0; 
  
}

/* Add these styles to your CSS file */

.item{
  display: flex;
  align-items: center;
  margin-top: 0.4rem;
  position: relative; /* Add relative positioning to the parent */
  width: 12.25rem;
  height: 2.5rem;
}

.item:hover::before {
  content: "";
  position: absolute;
  background: var(--gradient-1, linear-gradient(68deg, #0066E2 32.63%, #1D82FF 70.87%));
  opacity: 1; 
  border-radius: 0.625rem; 
  z-index: -1; 
  margin-right: 1.3rem;
  width: 9.25rem;
  height: 2.5rem;
}

.item-icon img {
  margin-right: 2rem; 
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  transition: filter 0.3s ease; 
}

.item:hover .item-icon img {
  filter: brightness(0) invert(1); /* Change icon color to white on hover */
}

.item-text{
  margin-right: .7rem; /* Adjust spacing between icon and text */
  text-align: right;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 133.5%; /* 1.335rem */
  color: var(--light-blue, #0072FE);
  font-family: Yekan Bakh;
  transition: color 0.3s ease;
}

.item:hover .item-text {
  color: #FFFFFF; 
}


.items{
  margin-top: 3rem; 
}

.smalluser{
  width: 1.5rem; /* Adjust the desired width */
  height: 1.5rem; /* Adjust the desired height */
}

.Logout-img{
  display: flex;
  align-items: center;
  margin-top: 3rem;
  margin-right: 2rem;
  font-family: Yekan Bakh;
  
}

.icon-logout{
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.20313rem 0.14063rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.text-logout{
  text-align: right;
  /* bold 16 px */
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 133.5%; /* 1.335rem */
  background: var(--sale-or-unsucces, linear-gradient(92deg, #E92323 -14.4%, #FF3939 91.65%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: .7rem;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  color: var(--light-blue, #0072FE);
/* secondary regular 24 px */
  font-family: Yekan Bakh;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 133.5%; 
  margin: 2rem 17rem 0 0;
  gap: 2rem;

}

.nav-options {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.nav-options li {
  margin-right: 2rem;

}

.date-time {
  text-align: right;
  margin-right: 3rem;
}

.notification-icon {
  margin-right: 3rem; /* Adjust the right margin as needed */
  border-radius: 0.5rem;
  background: var(--white, #FFF);
  padding: 0.5rem; 
  flex-shrink: 0;
}

.Text-Authentication {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  margin: 5rem 19rem 0 0;

}

.Text {
  color: var(--black, #121212);
  text-align: right;
  /* heavy title 48 px */
  font-family: Yekan Bakh;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 700;
  line-height: 133.5%; /* 4.005rem */
}

/* .rectangle-container {
  display: flex;
  top: 0;
  position: absolute;
  flex-direction: row;
  width: 55.8125rem;
  height: 14.4375rem;
  flex-shrink: 0;
  border-radius: 0.9375rem;
  background: #FFF;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.01);
  margin: 10rem 19rem 0 0 ;
} */

.rectangle-auth{
  display: flex;
  top: 0;
  position: absolute;
  width: 55.8125rem;
  height: 14.4375rem;
  flex-shrink: 0;
  border-radius: 0.9375rem;
  background: #FFF;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.01);
  margin: 10rem 19rem 0 0 ;
}

.small-rectangle1,
.small-rectangle2,
.small-rectangle3 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 8.8125rem;
  height: 8.8125rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
}

.large-rectangle1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 30.9375rem;
  height: 0.1875rem;
  flex-shrink: 0;
}

.large-rectangle2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}


.level-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  color: var(--black, #121212);
  font-family: Yekan Bakh;
  font-size: 0.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 133.5%;
  margin: 12.5rem 13.2rem 0 0;
}

.level-text ul {
  list-style-type: none;
  display: flex; /* Display the list items horizontally */
  align-items: center;
  justify-content: center;
  top: 100%;
}

.level-text li {
  margin: 0 5.4rem ; /* Adjust the margin to control spacing between the items */
  white-space: nowrap;
  text-align: center;
}

.img-auth-container {
  display: flex;
  align-items: center; /* Vertically center align images */
  justify-content: center; /* Distribute space evenly between images */
}

.img1{
  display: flex;
  position: absolute;
  top: 0;
  margin: 12rem 40rem 0 0;;
  width: 9rem;
  height: 9rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  /* background: lightgray 50% / cover no-repeat; */

  /* 1 */
  /* box-shadow: 0px 19px 20px 0px rgba(13, 114, 255, 0.10); */
}

.img2{
  display: flex;
  position: absolute;
  top: 0;
  margin: 7.5rem 50rem 0 0;
  width: 10rem;
  height: 10rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  z-index: 1;
  /* 1 */

}

.img3{
  display: flex;
  position: absolute;
  top: 0;
  margin: 12rem 59rem 0 0;
  width: 9rem;
  height: 9rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  /* background: lightgray 50% / cover no-repeat; */
  /* box-shadow: 0px 0px 10px 0px rgba(13, 114, 255, 0.10); */
}


.text-level{
  display: flex;
  position: absolute;
  top: 0;
  margin: 15rem 21rem 0 0 ;
  width: 6.125rem;
  color: var(--non-selected-blue-in-menu, #4598FE);
  text-align: right;
  /* bold 20 */
  font-family: Yekan Bakh;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 133.5%; /* 1.66875rem */
}

.paragraph{
  display: flex;
  position: absolute;
  top: 0;
  margin: 17.5rem 21rem 0 0 ;
  width: 30.1875rem;
  color: var(--non-selected-blue-in-menu, #4598FE);
  text-align: justify;

  /* regular 16 px */
  font-family: Yekan Bakh;
  font-size: 0.80rem;
  font-style: normal;
  font-weight: 400;
  line-height: 133.5%; /* 1.335rem */
}

.text-Specifications{
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  position: absolute;
  margin: 28rem 19.5rem 0 0;
  color: var(--black, #121212);
  text-align: right;

  /* bold 20 */
  font-family: Yekan Bakh;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 133.5%; /* 1.66875rem */
}

.forms-input{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 55.8125rem;
  height: 12.4375rem;
  flex-shrink: 0;
  border-radius: 0.9375rem;
  background: #FFF;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.01);
  margin: 30.5rem 19rem 0 0 ;
}

.forms{
  display: flex;
  align-items: center;
  justify-content: center;
}


















